#nav {
	float:left;
	width: 30%;
}

#content {
	float:left;
	width: 70%;
}

.itemTitle {
	background-color: light-blue;
}

.feedDescription {
	font-size: small;
}

.entryTitle {
	float:left;
}

.entryDate {
	font-size: smaller;
	color: lightgrey;
	#float:right;
}